<!DOCTYPE html>
<html lang="en">
<head>
{#  <title>Edit Squirrel</title>#}
{#  <meta charset="utf-8">#}
  <style>
    h1 { color: #f4fff8; }
    body {
        background: url('https://3.bp.blogspot.com/-EEG2FUZM90g/WBMzGDYtgxI/AAAAAAAAAe8/ircEGcYJk5A_13RjUBSn1rOhjPWyG8noACLcB/s1600/grey-squirrel-on-grass.jpg') no-repeat center center fixed;
        }

    .container{
        color: #ffffff;
        margin-left: 50px;
        margin-right: 200px;
        margin-top: 50px;
        font-size: 23px;
        font-style: normal;
    }
  </style>
</head>
<body>

{#<div class="container">#}
{#  {% if messages %}#}
{#    {% for message in messages %}#}
{#     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}#}
{#    {% endfor %}#}
{#  {% endif %}#}
<div class="container">
    <h1>Squirrel {{sighting.squirrel_id}} Information</h1>
    <hr style="border:0;background-color:#f4fff8;height:1px;">
    <form action="/sightings/add/" method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary">Update</button>
        <input class="btn btn-default btn-danger" name="delete" type="submit" value="Delete"/>
      <button href="/sightings/" class="btn btn-info" role="button">Back</button>
    </form>
</div>

</body>
</html>
