<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squirrel Statistics</title>
</head>
    <body>
        <h1>Fur color distribution</h1>
	    <li><span>The number of squirrels with fur color 'Black': {{black}}.</span></li>
	    <li><span>The number of squirrels with fur color 'Gray': {{gray}}.</span></li>
        <li><span>The number of squirrels with fur color 'Cinnamon': {{cinnamon}}.</span></li>
        <h1>Age Distribution</h1>
        <li><span>The number of juvenile: {{juvenile}}.</span></li>
        <li><span>The number of adult: {{adult}}.</span></li>
        <h1>Behaviour Distribution</h1>
	    <li><span>{{chasing}} squirrels are chasing.</span></li>
        <li><span>{{climbing}} squirrels are climbing.</span></li>
        <li><span>{{eating}} squirrels are eating.</span></li>
        <li><span>{{foraging}} squirrels are foraging.</span></li>
    </body>
</html>